footer {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
  padding: 15px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}
.section--icons {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.icons--item {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.github {
  width: 2.3rem;
  height: 3rem;
  background-image: url('../../assets/icons/github.svg');
}
.linkedin {
  width: 3rem;
  height: 3rem;
  background-image: url('../../assets/icons/linkedin.svg');
}
.twitter {
  width: 3rem;
  height: 2.4rem;
  background-image: url('../../assets/icons/twitter.svg');
}
.instagram {
  width: 3rem;
  height: 3rem;
  background-image: url('../../assets/icons/instagram.svg');
}
.section--email {
  display: flex;
  justify-content: center;
  align-items: center;
}
